body {
    font-family: sans-serif;
    background-color: cornflowerblue;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    column-gap: 1%;
    row-gap: 2%;
}

.container > div {
    padding: 20px 0;
    background-color: aqua;
}

.item-index {
    font-weight: bold;
}
.item-right {
    text-align: right;
}

.item-street {
    grid-column: 1 / span 3;
}
.item-type {
    grid-column: 1 / span 3;
}
